*{
    margin-left:10px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 
    'Trebuchet MS', sans-serif;
}
body{
    max-width: 800px; /* Atur lebar maksimum layout Anda (misalnya 960px, 1000px, atau 80%). */
  margin-left: auto; /* Margin kiri otomatis. */
  margin-right: auto; /* Margin kanan otomatis. */
  /* Singkatnya bisa ditulis: margin: 0 auto; */
    
}

 
h1 h2 h3 .work1{
    font-family:'sans-serif'; 
}

    

nav{
    display: flex;
    justify-content: space-between;
}

.nav-menu{
    list-style: none;
    display: flex;
}
.nav-menu a{
   padding-right: 10px;
   color:black;
   
}

.judul{
    margin-top: 50px;
    text-align: center;
    margin-bottom:50px;
}

.main1{
    display:flex; 
    
}
.project{
    text-align: left;
    width:200px;
    height:300px;
}
.project h3{
    padding-left: 35px;
}
.project ul{
    list-style:none;
    margin-left:-5px;
}

.project li{
    margin-top: 20px;
}
.work{
    width:350px;
    height:300px;
    margin-left:30px;
}
.work1{
    font-weight: bold;
    font-size: 15px;
}
.work-experience{
    width:260px;
}
.work-experience a{
    margin-left:0px;
    color:blue;
}
.openSource-work a{
    margin-left:0px;
    color:blue;
}
.openSource-work{
    width:250px;
}

.education{
    width:250px;
}

.education p{
    margin-top:10px;
}

.education ul{
    margin-left:-30px;
    list-style:none;
}
.education li::marker{
    content:"- ";
}

.main2{
    height:300px;
}
.container{
    display: flex;
    justify-content: center;
    gap:30px;
}

.tabel1{
    width:200px;
    border:1px solid black;
    border-radius: 30px;   
}

.tabel1 p{
    padding-left:5px;
}

footer{
    text-align: center;
    font-size:24px;
    font-weight: bold;
}